div{
    color:black;
    margin: 0;
    /* padding-top: 10px; */
    margin-bottom: 10px;
    background-color: gray;
}
.bnp{
    background-color: gray;
    font-size: 30px;
    color: black;
    padding: 2px;
    margin: 0;
    

}